@font-face {
  font-family: 'Overpass';
  src: url('./assets/font/Overpass/Overpass-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('./assets/font/Overpass/Overpass-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

:root {
  --clr-white: #ffffff;
  --clr-grey: #959eac;
  --clr-blue-600: #252d37;
  --clr-blue-800: #121417;
  --clr-orange: #fc7614;

  font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Overpass', sans-serif;

  background-color: var(--clr-blue-800);

  margin: 0;

  min-height: 100vh;
}

section {
  min-height: 416px;
  max-width: 412px;

  border-radius: 30pt;

  padding: 2rem;

  background: rgb(35, 42, 52);
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );
}

fieldset {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  border: none;
  padding: 0;
  margin: 0;
}

fieldset > button {
  grid-column: 1 / span 5;
}

button,
.button {
  width: 100%;

  background-color: var(--clr-orange);

  min-height: 45px;

  border: none;
  border-radius: 22.5pt;

  color: var(--clr-blue-800);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
}

.heading-large {
  font-size: 28px;
}

.heading-medium {
  font-size: 15px;
}
