@font-face {
  font-family: 'Overpass';
  src: url('./assets/font/Overpass/Overpass-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('./assets/font/Overpass/Overpass-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(217, 12%, 63%);
  --clr-blue-600: hsl(213, 19%, 18%);
  --clr-blue-800: hsl(216, 12%, 8%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;

  min-height: 100vh;
}

section {
  min-height: 416px;
  max-width: 412px;

  padding: 2rem;
  background-color: var(--clr-blue-600);
}

fieldset {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  border: none;
  padding: 0;
  margin: 0;
}

fieldset > button {
  grid-column: 1 / span 5;
}

button {
  width: 100%;
}
