@font-face {
  font-family: 'Overpass';
  src: url('./assets/font/Overpass/Overpass-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('./assets/font/Overpass/Overpass-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

:root {
  --clr-white: #ffffff;
  --clr-grey: #959eac;
  --clr-blue-600: #252d37;
  --clr-blue-800: #121417;
  --clr-orange: #fc7614;

  font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  color: var(--clr-grey);
  line-height: 24px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Overpass', sans-serif;

  background-color: var(--clr-blue-800);

  margin: 0;

  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}

section {
  position: absolute;

  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
}

.section-rate {
  transform: translateX(0%);
}

.section-thank-you {
  transform: translateX(100%);
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  background-color: var(--clr-blue-600);
}

/*** Fieldset ***/

fieldset {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border: none;

  padding: 0;

  margin: 0;
  margin-top: auto;

  width: 100%;
}

fieldset > button {
  grid-column: 1 / span 5;
  margin-top: 2.4rem;
}

/*** Custom Radio Button ***/

.radio {
  isolation: isolate;
  position: relative;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 51px;
  height: 51px;

  margin: 0;
  padding: 0;

  color: var(--clr-grey);
  font-weight: 700;
  font-size: 16px;

  transition-property: background-color, color, top;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.radio::before {
  content: '';
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  background-color: var(--clr-blue-600);

  transition-property: background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

input[type='radio'] {
  display: none;
  margin: 0;
  padding: 0;
}

label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 50%;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.radio:has(input[type='radio']:checked) > label:hover {
  cursor: default;
}

.radio:has(input[type='radio']:checked) {
  color: var(--clr-blue-800);
}

.radio:has(input[type='radio']:checked):hover {
  top: 0;
}

.radio:has(input[type='radio']:checked)::before {
  background-color: var(--clr-white);
}

.radio:hover {
  color: var(--clr-blue-800);
  top: -3px;
}

.radio:hover::before {
  background-color: var(--clr-orange);
}

/*** Button ***/

button,
.button {
  position: relative;
  top: 0;

  width: 100%;

  background-color: var(--clr-orange);

  min-height: 45px;

  border: none;
  border-radius: 22.5pt;

  color: var(--clr-blue-800);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2ch;

  transition-property: background-color, color, top;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

button:hover,
.button:hover {
  background-color: var(--clr-white);
  cursor: pointer;
  top: -3px;
}

button:active,
.button:active {
  background-color: var(--clr-grey);
  cursor: pointer;
  top: 2px;
}

/*** Text ***/

.heading-large {
  font-size: 28px;
}

.heading-medium {
  font-size: 15px;
}

.card-title {
  margin-bottom: 0.6rem;
}

.thank-you-card-title {
  margin-bottom: 1rem;
  margin-top: 1.4rem;
}

/*** Images ***/
.card-star-picture {
  margin-bottom: 1.8rem;
}

.picture-thank-you {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

/*** Chip ***/

.chip {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  background-color: var(--clr-blue-600);

  border-radius: 22.5pt;

  margin-block: 1rem;
}

.chip > p {
  position: relative;
  top: 0.15rem;
  color: var(--clr-orange);
  padding-block: 0.4rem;
  padding-inline: 1.4rem;
}

/*** Card ***/

.card {
  display: flex;
  flex-direction: column;

  border-radius: 30pt;

  padding: 2.4rem;

  background: rgb(35, 42, 52);
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );

  min-height: 416px;
  max-width: 412px;
}

.card-rate {
  align-items: start;
  justify-content: center;
}

.card-thank-you > p {
  text-align: center;
}

.card-thank-you {
  align-items: center;
  justify-content: center;
}
